{{- if .Body.Preamble }}{{ .Body.Preamble }}
{{- end }}
{{- range .Body.Behaviors }}

**Given** {{ .Given }} **when** {{ .When }} **then** {{ .Then }} **should never** {{ .ShouldNot }}
{{- end }}
{{- range .Body.Sections }}

## {{ .Title }}

{{ .Content }}
{{- range .Subsections }}

### {{ .Title }}

{{ .Content }}
{{- end }}
{{- end }}
{{- range .Body.Recipes }}

## {{ .Title }}

{{ .Description }}

```{{ .Lang }}
{{ .Code }}
```
{{- end }}
